<h2>{{fullName}}, Age: {{age}}</h2>

<p>State: {{politician.state_name}}</p>
<a href={{politician.website}}>Website</a>
<p><strong>Contact:</strong></p>
<ul>
  <li>Email: {{politician.oc_email}}</li>
  <li>Phone: {{politician.phone}}</li>
  <li>YouTube: <a href={{youTubeUrl}}>YouTube</a></li>
</ul>
